body{
	height: 100%;
}
.nav-pad{
  padding-left: 400px;
}
.header{
	padding: 75px;
	text-align: center;
}
.img-ico{
	margin: 0 auto;
}
.img-ico:hover{
	opacity: 0.8;
}
.lead{
	text-align: center;
}
.about{
	padding: 70px;
}
footer{
	margin: 20px;
}
@media (max-width: 767px){
		.img-ico{
			width: 150px;
		}

	}